.mainLayout {
    flex-grow: 1 !important;
    display: flex;
    flex-direction: column;

    &_right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        &_item {
            width: 240px;
        }
    }
}
