
.loading {
  position: fixed;
  float: left;
  top: 50%;
  left: 50%;
  height: 100px;
  padding: 0px;
  width: 200px;
  margin-top: -50px;
  margin-left: -70px;
}
@keyframes loading {
  0% {
    border-top-color: #d13632;
  }
  11% {
    border-top-color: #e2571e;
  }
  22% {
    border-top-color: #e09128;
  }
  33% {
    border-top-color: #ffe400;
  }
  44% {
    border-top-color: #7dd132;
  }
  50% {
    height: 100px;
    margin-top: 0px;
  }
  55% {
    border-top-color: #32d152;
  }
  66% {
    border-top-color: #32d15b;
  }
  77% {
    border-top-color: #32bcd1;
  }
  88% {
    border-top-color: #323ad1;
  }
  99% {
    border-top-color: #cb32d1;
  }
  100% {
    border-top-color: #cb32d1;
  }
}

@mixin inner() {
  height: 10px;
  width: 10px;
  background-color: #fff;
  display: inline-block;
  margin-top: 90px;
  -webkit-animation: loading 2.5s infinite;
  -moz-animation: loading 2.5s infinite;
  -o-animation: loading 2.5s infinite;
  animation: loading 2.5s infinite;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top: 5px solid #333;
}
@mixin loading() {
  @for $i from 1 through 10 {
    .loading_#{$i} {
      @include inner();
      -webkit-animation-delay: #{$i * 0.1}s;
      animation-delay: #{$i * 0.1}s;
    }
  }
}
.loading {
  @include loading();
}
